
.description {
    font-weight: 400;
}

.whatwedo {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.technologies-list {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 30px;
}

.technologies-list .col {
    text-align: center;
}

.technologies-list p {
    font-size: 14px;
}

.howework {
    height: auto;
    padding: 20px;
}

.tech-icon {
    width: 50px;
}

.fixed-top {
    background: #010005;
}

.footer { 
    background: #010005 !important;
}

.footer .copyright {
    text-align: center !important;
    float: unset;
    color: white;
}

.category {
    text-transform: none;
}

.project-card-img {
    display: block;
    max-width: 300px;
    margin: auto;
}

.card {
    width: calc(100% - 40px);
    align-self: center;
    margin: 20px;
}

.workitem {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 14px;
    text-align: center;
}
    .workimg {
        width: 50px;
    }

    .worktitle {
        font-weight: 600;
    }

    .workdescription {
        font-weight: 400;
        text-transform: none;
        text-align: justify;
        text-justify: inter-character;
    }