@import url('https://fonts.googleapis.com/css2?family=Exo:wght@400;500&display=swap');

.description {
    font-weight: 400;
}

.whatwedo {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.technologies-list {
    min-height: 400px;  
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 24px;
    padding: 0;  
}

.technologies-list .col-3 {
    text-align: center;
    padding: 0;
}

.technologies-list .col:hover {
    color: coral;
    font-weight: bold;
}

.technologies-list .col:hover p {
    font-weight: bold;
}

.technologies-list p {
    font-size: 14px;
}

.howework {
    height: auto;
    padding: 20px;
}

.tech-icon {
    width: 50px;
}

.fixed-top {
    background: #010005;
}

.footer { 
    background: #010005 !important;
}

.footer .copyright {
    text-align: center !important;
    float: unset;
    color: white;
}

.category {
    text-transform: none;
}

.project-card-img {
    display: block;
    max-width: 300px;
    margin: auto;
}

.card {
    width: calc(100% - 40px);
    align-self: center;
    margin: 20px;
}

.workitem {
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    font-size: 14px;
    text-align: center;
}
    .workimg {
        width: 50px;
    }

    .worktitle {
        font-weight: 600;
    }

    .workdescription {
        font-weight: 400;
        text-transform: none;
        text-align: justify;
        text-justify: inter-character;
    }

.team-player img {
    max-width: 150px;
}

.metodologia-container {
    text-align: center;
}

.metodologia-container img {
    width: 100%;
    min-width: 300px;
    max-width: 400px;
}

.metodologia-item {
    padding: 50px;
}

.page-title { 
    padding: 50px;
}

.page-header-video {
    width: 100%;
}

.page-header img {
    width: 500px;
}

.page-header .title {
    letter-spacing: 0.5em;
}

.title {
    font-family: 'Exo', sans-serif !important;
    font-size: 70px;
}