
.description {
    font-weight: 400;
}

.whatwedo {
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

.technologies {
    display: flex;
    align-items: center;
    justify-content: center;
}

.technologies-list {
    font-size: 18px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: left;
}

.howework {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.tech-icon {
    width: 50px;
}

.fixed-top {
    background: #010005;
}

.footer { 
    background: #010005 !important;
}

.footer .copyright {
    text-align: center !important;
    float: unset;
    color: white;
}

.workitem {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
    .workimg {
        height: 70%;
        width: 15%;
    }

    .worktitle {
        font-weight: 600;
    }

    .workdescription {
        font-weight: 400;
        text-transform: none;
        text-align: justify;
        text-justify: inter-character;
    }